/* GLOBAL-STYLES */

:root{
  --title-color: #111517;
  --bc-header-color: #fff;
  --bc-hero-color: #fafafa;
  --input-placeholder: #848484;
}


.dark-mode{
  --title-color: #fff;
  --bc-header-color: #2B3844;
  --bc-hero-color: #202C36;
  --input-placeholder: #fff;
}

*{
  box-sizing: border-box;
}

:focus{
  outline: 2px dashed tomato;
  outline-offset: 2px;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
  background-color: var(--bc-hero-color);
  color: var(--title-color);
}

.container{
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SITE-HEADER */

.site-header {
  padding-top: 24px;
  padding-bottom: 23px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0562) ;
  margin-bottom: 48px;
  background-color: var(--bc-header-color);
}

.new-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  margin-right: 10px;
}

.site-header-title-link{
  display: inline-block;
  color: var(--title-color);
  text-decoration: none;
  white-space: nowrap;
}

.site-header-title-link:hover{
  opacity: 0.8;
}

.site-header-title-link:active{
  opacity: 0.6;
}

.site-header-btn {
  width: 108px;
  border: none;
  padding: 0;
  padding-left: 26px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  background-color: transparent;
  color: var(--title-color);
  background-image: url(../images/month.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}


/* SITE-MAIN  */

.site-main {
  flex-grow: 1;
}

.site-form {
  display: flex;
  padding: 0;
  margin-bottom: 48px;
  justify-content: space-between;
  align-items: center;
}

.hero-input{
  width: 480px;
  padding: 18px 74px;
  border-radius: 5px;
  border: 0;
  line-height: 20px;
  margin-right: 10px;
  background-image: url(../images/search.svg);
  background-color: var(--bc-header-color);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 32px center;
  color: var(--title-color);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
}


.hero-input::placeholder{
  font-weight: 400;
  color: var(--input-placeholder);
}

.hero-option{
  border: 0;
  border-radius: 5px;
  padding: 18px 77px 18px 24px;
  line-height: 20px;
  font-weight: 400;
  color: var(--title-color);
  background-color: var(--bc-header-color);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
}

.site-hero-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: -30px;
}

.site-hero-item {
  display: flex;
  flex-direction: column;
  width: 264px;
  margin-right: 74px;
  margin-bottom: 75px;
  border-radius: 5px;
  background-color: var(--bc-header-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294);
}

.site-hero-item:nth-child(4n){
  margin-right: 0;
}

.site-hero-img {
  width: 264px;
  height: 160px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.box{
  padding: 24px 24px 48px 24px;
}

.site-hero-item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: var(--title-color);
  text-decoration: none;
  font-family: "Nunito Sans", "Arial", sans-serif;
}

.joki-poki {
  margin: 0;
  margin-bottom: 16px;
}

.site-hero-item-text {
  margin-top: 0;
  font-weight: 300;
  color: var(--title-color);
}

.site-hero-item-text:not(:last-child){
  margin-bottom: 8px;
}


/* BLOCK-STLES */
/* BLOCK-HEADER  */
.block-header{
  margin-bottom: 80px;
}

.block-hero-link {
  display: inline-flex;
  width: 136px;
  margin-bottom: 80px;
  padding: 10px 39px 10px 32px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: var(--title-color);
  background-color: var(--bc-header-color);
  box-shadow: 0px 0px 7px 0px #0000004B;
  justify-content: space-between;
  align-items: center;
}

.block-hero-link-svg{
  display: block;
  width: 20px;
  height: 20px;
  /* margin-left: 32px; */
  /* padding-top: 5px; */
}

.block-hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 343px;
}

.block-hero-img {
  width: 560px;
  height: 401px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.block-hero-box {
  width: 598px;
}

.block-hero-box-title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
  color: var(--title-color);
}

.block-hero-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 68px;
}

.block-hero-item {
  display: block;
  width: 250px;
  justify-content: space-between;
  align-items: flex-start;
}


.about-item-text{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}


.about-item-text:not(:last-child){
  margin-bottom: 15px;
}

.btn-title{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.block-hero-footer-btn {
  display: inline-block;
  width: 96px;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  border: 0;
  background-color: var(--bc-header-color);
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.0562);
  color: var(--title-color);
  cursor: pointer;
  text-decoration: none;
}

.block-hero-footer-btn:hover{
  opacity: 0.8;
}

.block-hero-footer-btn:active{
  opacity: 0.6;
}

.block-hero-footer-btn:first-child{
  margin-left: 15px;
}

.block-hero-footer-btn:not(:first-child){
  margin-left: 10px;
}

span{
  color: var(--title-color);
  font-weight: 600;
  margin-right: 5px;
}
