*{
  box-sizing: border-box;
}

:focus{
  outline: 2px dashed tomato;
  outline-offset: 2px;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}